.tags {
    display: flex; /* Use flexbox for tags too */
    margin-right: 25px; /* Ensure some space after the tags */
}

.tag {
    display: inline-block;
    background-color: #fe8637;
    color: white;
    padding: 5px 15px;
    margin-right: 5px;
    border-radius: 15px;
    font-size: 0.8em;
    text-transform: uppercase;
}

select {
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  border: 1px solid #fe8637;
  background-color: #fe8637;
  color: white;
  font-size: 0.8em;
  text-transform: uppercase
}

.dropdowns-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.price {
    display: flex;
    color: #008080;
    font-size: large;
    font-weight: bolder;
    align-items: baseline; /* Align the text and the footnote baseline */
  }
  
.price-date {
    margin-left: 5px;
    font-size: 0.6em; /* Smaller font size for the footnote */
    color: #666; /* Lighter color for less emphasis */
}


.item {
    border: 1px solid #ddd;
    margin: 20px auto;
    padding: 20px;
    max-width: 100%; /* Set to 100% to use the full width */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically center items in the container */
    justify-content: space-between; /* Distribute extra space */
    background-color: #fafafa; /* Slightly off-white for a subtle look */
}
  
.item h3 {
    margin-right: 20px; /* Ensure some space after the title */
    flex-grow: 1; /* Allow the title to grow and fill space */
    text-align: left;
    color: #008080;
    /* #fe8637 orange */
     /* #008080 teal */
}